@media (min-width: 992px) {
    body {
        background: #fff;
    }
    .main-nav {
        &__link {
            font-size:0.75em;
            font-weight:bold;
            border-bottom:none;
            color:$color-menu-item;
        }
        &__link:active,&__link:hover {
            font-weight:bold;
            padding:0 -5px;
        }
        
    }
    .main-header {
        &__logo {
            height:150px;
        }
    }
    .tiendas {
        padding-top:0px;
        &__header {
            display:inline-block;
        }
        .category-select-button {
            display:none;
        }
        &__titulo {
            margin:5px 25px 5px 0;
        }
    }
    .header-container {
        position:relative;
    }
    #tienda-category-form-2 ,#tienda-category-form , #tienda-category-form-3, #tienda-category-form-4{
        display:block;
    }
    #banner-slider, #banner-slider-2 {
        margin-bottom: 80px;
    }
    .tiendas,.comidas {
        position:relative;
        margin:4.5em 1em;
        padding:1em;
        border-radius: 8px;
        background: #fff;
        &__titulo {
            font-size:1.5em;
            display:inline-block;
            font-weight:600;
            max-width:100%;
        }
    }
    
    #comidas {
        font-size:1.5em;
    }

    .multiple-splide {
        padding: 0 3em;
    }
    #banner-slider {
        padding-top:0;
    }
    .buscador {
        display:block;
        position:relative;
        top:0;
        form {
            width:50%;
        }
    }
}
    