// CLASES GENERALES
* {
    font-family: "Montserrat";

}

body {
    background: #eee;
    color:#777;
}

// HEADER

.header-container {
    position:fixed;
    width:100%;
    top:0;
    background:#eee;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: -1px 11px 8px -6px rgba(0,0,0,0.11);
    -moz-box-shadow: -1px 11px 8px -6px rgba(0,0,0,0.11);
    box-shadow: -1px 11px 8px -6px rgba(0,0,0,0.11);
    align-items: center;
    z-index:110;
    
}

.main-header {
    position:relative;
    margin:0 auto;
    overflow:hidden;
    &__logo {
        height:70px;
        margin: 10px 0;
    }
    &__button:active,&__button:focus,&__button:hover {
        outline:none;
    }
}

.main-nav {
    display:none;
    &__link {
        font-size:0.9em;
        font-weight:bold;
        display:block;
        color:$color-menu-item;
        width:100%;
        height:100%;
        padding: 15px 0;
        border-bottom: 1px solid $gris;
        line-height:100%;
        cursor:pointer;
    }
    &__link--selected {
        background:#add5db;
        padding-left:10px;
    }
    &__link:active,&__link:hover {
        text-decoration:none;
        color:black;
    }
}

.social-nav {
    display:none;
    &__element {
        font-size:0.9em; 
    }
    &__link {
        color:$color-menu-item;
        font-weight:bold;
        &--last {
            padding: 7px 8px;
            background:$verde-marca;
            color:white;
            border-radius:7px;
        }
    }
    &__link:active,&__link:hover {
        text-decoration:none;
        color: black;
    }
    &__link--last:active, &__link--last:hover {
        color:white;
    }
}

.resultados {
    display:none;
}

.tiendas,.comidas {
    position:relative;
    margin:1em;
    margin-top: 30px;
    padding:1em;
    border-radius: 8px;
    background: #fff;
    &__titulo {
        font-size:1.5em;
        display:inline-block;
        font-weight:600;
        max-width:95%;
        text-transform: uppercase;
        &--cartelera {
            max-width:100%;
        }
    }
    &__icono {
        width:15px;   
    }
    .category-select-button {
        font-size:0.9em;
        color: #444;
    }

    &__cartelera-info {
        font-size: 0.8em;
        h4{
            font-size:1.5em;
        }
        h5 {
            font-size:1.2em;
        }
    }
}


#tienda-category-form,#tienda-category-form-2 ,#tienda-category-form-3, #tienda-category-form-4 {
    display:none;
    .button {
        padding:3px 10px;
        font-size:0.8em;
        margin: 7px 7px 7px 0;
        border:1px solid #999;
        border-radius:5px;
        color: #444;
    }
    .button--selected {
        color: white;
        border:none;
        padding: 5px 15px;
    }

}

.button--selected {
    background: $verde;
    font-weight:bold;
    color: #fff;
}

.hand-image {
    display:block;
    position:absolute;
    width:100px;
    height:100px;
    right:-70px;
    bottom:-5px;
}
// FOOTER

.footer {
    background: $verde;
    padding: 45px 0;
    .logo-footer {
        &__imagen {
            max-width:150px;
            max-height: 110px;
        }
    }
    .footer-info {
        text-align:center;
        border-top:1px solid #fff;
        margin-top:30px;
        &__contacto, &__copyright {
            display:block;
            margin:0;
            padding:0;
            p {
                color: #fff;
                margin-bottom:3px;
                font-size: 0.7em;
            }     
        }
        &__contacto {
            padding-top:25px;
        }
        &__habeas {
            color:white !important;
            font-size:15px;
            font-family: Arial, Helvetica, sans-serif;
        }
        
    }
     
}

.splide__slide__container {
    margin: 10px;
    border-radius: 5px;
    -webkit-box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.12);
    -moz-box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.12);
    box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.12);
    position:relative;
    .marca-default {
        font-weight:bold;
        padding: 0 10px;
        color:white;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align:center;
        position:absolute;
        top: 0;
        right: 0;
        left:0;
        bottom:0;
    }
} 

.info-pelicula {
    color:#fff;
    font-size:0.7em;
    padding:15px 0;
    &__titulo {
        font-size: 1.1em;
    }
    &__label {
        font-size:0.9em;
        margin: 9px 0 0 0;
    }
    &__value {
        font-size:0.95em;
    }
}

.local-info {
    font-size:0.7em;
    padding:15px 0;
    &__main-title {
        font-size:1.3em;
    }
    &__info-title {
        font-size:0.95em;
    }
    &__info-text {
        font-size:1.05em;
    }
}

.splide--big {
    display:none;
}
.splide--small {
    display:block;
}

.splide__slide {
    padding:0;
    margin:0;
}

.splide__slide--banner {
    padding:0;
    margin:0;
}

.splide__slide__container--agenda {
    background-color: #333;
    position:relative;
    display:flex;
    align-items: center;
    img {
        position:absolute;
        right: 1px;
        height:130px;
        width:85px !important;
        transform: rotate(3deg);
    }
    span {
        position: absolute;
        left:5px;
        font-family: 'Londrina Outline', cursive;
        color: white;
        font-size: 140px;
    }
}

.loader-container {
    display:flex;
    position: fixed;
    background:rgba(255,255,255,0.7);
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:10000;
}

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid $verde; /* Blue */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 1s linear infinite;
}

.logo-loader {
    width:50px;
    img {
        width:100%;
    }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.buscador {
    display:none;
    width:100%;
    position:fixed;
    z-index: 9000;
    padding: 15px 2px;
    top: 90px;
    left:0;
    right:0;
    margin:0;
    background:#eee;
    input {
        width:80%;
        border-radius: 8px 0 0 8px;
        border: 1px solid #aaa;
        padding: 5px 15px 5px 10px;
        margin:0;
        font-size:13px;
    }
    input[type="submit"] {
        width:20%;
        padding:5px 6px;
        margin:0;
        border-radius: 0 8px 8px 0;
        border-left: none;
        background: $verde;
        color:white;
        font-weight:bold;
    }
}

#banner-slider-2 {
    padding-top:90px;
}

.resultados {
    position:fixed;
    background:#eee;
    z-index: 100;
    top:90px;
    width: 100%;
    padding-bottom:25px;
    border-bottom: 1px solid #999;
    &__contenedor {
        height:85vh;
        background:none;
        overflow: scroll;
        padding-top: 20px;
    }
    &__informacion {
        padding: 16px 0;
    }
    &__texto {
        padding-top: 16px;
        font-size:14px;
    }
    &__imagen {
        img {
            width:100%;
        }
    }
    &__descripcion {
        font-size:13px;
    }
    &__titulo {
        font-size:14px;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__boton-cerrar {
        display:flex;
        align-items: center;
        justify-content: center;
        text-align:center;
        background: red;
        color:white;
        font-weight: bold;
        width: 25px;
        height:25px;
        border-radius:5px;
        cursor:pointer;
    }
    &__error {
        display:none;
        border-radius:5px;
        margin: 16px 0;
        padding: 10px 15px;
        color: red;
        background: rgba(255,0,0, 0.2);
        font-size:14px;
    }

}

.g-map {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    line-height: 0; 
}

.g-map-wrapper {
    width:100%;
    height:300px;
    margin:0;
    padding:0;
    line-height: 0;
}

.boton-volver {
    position:sticky;
    bottom:0;
    height:55px;
    
    &__boton {
        background:$verde;
        font-weight:bold;
        height:100%;
        border-radius: 15px 15px 0 0;
        padding: 15px 30px;
        position:absolute;
        right:0;
        color:white;
        cursor:pointer;
    }
}