@media (min-width: 576px) {
    #marcas-slider, #comidas-slider,#agendas-slider{
        padding: 3em;
        padding-top: 10px;
    }  
    .footer-info {
        font-size:1.1em;
    }  
    #cartelera-slider {
        .splide__slide__container {
          max-width:100%;
        }
    }
    .info-pelicula {
        color:#fff;
        &__titulo {
            font-size: 1.25em;
        }
        &__label {
            margin: 11px 0 0 0;
        }
        &__value {
            font-size: 1em;
        }
    }
}