

#marcas-slider, #comidas-slider, #agenda-slider ,#cartelera-slider{
    position:relative;

  .splide__slide__container {
    cursor: pointer;
    border-radius: 15px;
    display:flex;
    align-items: center;
    min-height: 180px;
}

.splide__slide__container img {
    width:100%;
    max-height: 180px;
    object-fit: contain;
}


.splide__pagination__page {
    width:15px;
    height:15px;
    border-radius:50%;
}


.splide__arrow svg {
    fill: $verde;
    width: 25px;
    height: 25px;
}

.splide__arrow--prev {
  left:0;
}
.splide__arrow--next {
  right:0;
}


.splide__pagination li .is-active {
    background:$verde;
}

/*******************/
  
.splide__slide__container img {
    transition: .5s ease-in-out;
    backface-visibility: hidden;
}
  
  .middle {
    width:100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;
  }
  
  .splide__slide__container:hover img, .splide__slide:hover img {
    opacity: 0.3;
  }
  
  .splide__slide:hover .middle {
    opacity: 1;
  }
  
  .text {
    width:100%;
    font-weight:bold;
    background-color: $verde;
    color: #fff;
    border-radius: 7px;
    cursor:pointer;
  }

}

#marcas-slider,#comidas-slider,#agenda-slider,#cartelera-slider {
  padding-left: 35px;
  padding-right: 35px;
}

#cartelera-slider {
  .splide__slide__container {
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px;
    display:flex;
    align-items: center;
    margin:0;
    padding:0;
    width: 100%;
    max-width:70%;
    max-height:100%;
    margin:0 auto;
    box-sizing: content-box;
    position:relative;
  }
  .splide__slide__container .movie-image {
    width:100%;
    max-height: none;
    object-fit: contain;
  }
}

#banner-slider, #banner-slider-2 {
    
    padding:0;
    margin:0;
    background-color: white;
    .splide__slide img {
      width:100%;
      object-fit: cover;
    }
    .splide__pagination__page {
      width:18px;
      height:18px;
      border-radius:50%;
      border:2px solid white;
    }
    .splide__pagination li .is-active {
      background:$verde;
    }
    .splide__arrow svg {
      fill: $verde;
      stroke:white;
      stroke-width: 2;
      width: 45px;
      height: 45px;
    }
    @media (max-width: 992px) { 
      margin-top:91px;
    }
  }
  
    @media (min-width: 576px) { 
      
    }
    
    @media (min-width: 768px) { 
      
    }
    
    @media (min-width: 992px) { 
      #marcas-slider, #comidas-slider,#agenda-slider {

      }
      
    }
    
    @media (min-width: 1200px) { }
  