@media (min-width: 768px) {
  .tiendas {
      &__titulo {
          margin-right:25px;
      }
  }
  #cartelera-slider {
    .splide__slide__container {
      max-width:100%;
    }
  }
  .hand-image {
    display:none;
}
}