@media (min-width: 768px) {
  .tiendas {
      &__titulo {
          margin-right:25px;
      }
  }
  #cartelera-slider {
    .splide__slide__container {
      max-width:100%;
    }
    .middle {
      display:flex;
      justify-content: center;
      align-items: center;
    }
  }
  .hand-image {
    display:none;
  }
  .splide--small {
    display:none;
  }
  .splide--big {
      display:block;
  }
  .splide__slide__container--servicios {
    .img-servicio {
        padding: 65px;
    }
  }
  #marcas-slider, #comidas-slider,#agenda-slider, #servicios-slider {
    .splide__slide__container {
        margin: 10px;
        border-radius: 5px;
        -webkit-box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.12);
        -moz-box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.12);
        box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.12);
    }
  }

  .splide__slide {
    padding:0;
    margin:0;
  }

  .buscador {
    margin: 0 auto;
    width:100%;
    .buscador-form {
      width:50%;
    }
  }
  #banner-slider {
    margin-top:152px;
  }
  .titulo-cartelera {
    margin-bottom:15px;
    position:relative;
  }
  .agenda-mes {
    position:absolute;
    top:120px;
    text-align: center;
    width:100%;
  }
  .agenda-dia {
    position:absolute;
    text-align: center;
    width:100%;
  }
}